asgiref==3.11.0
Django==6.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata; sys_platform == 'win32'
djangorestframework
python-decouple
gunicorn
psycopg2-binary
dj-database-url
flake8
black
isort
pre-commit
