{% extends "registration/base_auth.html" %}

{% block title %}Contraseña Restablecida{% endblock %}
{% block header %}¡Listo!{% endblock %}
{% block subheader %}Tu contraseña ha sido cambiada{% endblock %}

{% block content %}
<div class="text-center text-gray-700">
    <p class="mb-6">
        Tu contraseña ha sido establecida correctamente. Ahora puedes iniciar sesión con tu nueva credencial.
    </p>

    <a href="{% url 'login' %}" class="inline-block bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
        Iniciar Sesión
    </a>
</div>
{% endblock %}